body {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    font-family: sans-serif;
}

.navbar-flexbox .active.navitem {
    background-color: #1b9600;
    color: white;
}

.navbar-flexbox .navitem:hover {
    background-color: #178200;
    color: white;
}

.footer-flexbox {
    display: flex;
    flex-direction: column;
    background-color: #178200;
    margin-top: auto;
    height: 3em;
}

.footer-flexbox p {
        border: none;
        padding: 0;
        text-align: center;
        color: white;
}

.down {
        display: block;
        width: 94%;
}   

.down p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        border-radius: 10px;
    }

.tworows {
        display: flex;
        flex-wrap: wrap; 
        width: 94%;
        text-align: center;
}

.tworows p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        border-radius: 10px;
    }

.tworowstitle {
        flex: 0 0 100%;
}

.tworowsitem {
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 0 4%;
        position: relative;
    }


@media only screen and (min-width: 1025px) {
    
    .mobile {
        color: #000001;
        display: none;
    }
    
    .navbar-hamburger {
        display: none;
    }

	.navbar-flexbox {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 2px;
		margin-bottom: 2px;
		width: 100%;
		justify-content: flex-start;
		overflow: hidden;
		
	}

	.navbar-flexbox .navitem {
		color: black;
		text-align: center;
		text-decoration: none;
		font-family: monospace;
		font-size: 1.2em;
		cursor: pointer;
		padding: 30px 35px;
		margin-bottom: 20px;
        margin-left: 1px;
        margin-right: 1px;
		border-radius: 5px;

	}

	.navbar-flexbox #nav-logo {
		width: 100%;
		height: 100%;
	}
	
	.navbar-flexbox #nav-logo-container {
		width:180px;
		max-width: 85vw;
		height: 100%;
		position: relative;
		margin-left: 10px;
		margin-right: 20px;
		margin-top: 10px;
		margin-bottom: 15px;
		cursor: pointer;
	}

	.flex-right {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row;
	}

	.backdrop {
		height: 35vh;
		background-image: url("lib/IMG/backdrop_new.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center 35%;
		position: relative;
		bottom: 20px;
	 
	}
	
	.down{
    text-align: center;
    width: 450px;
    max-width: 95%;
    margin: 0 auto;
    position: relative;
  
    }
	
    .down #title {
    color: #1b9600 ;
    font-weight: bold;
    font-family: monospace;
    font-size: 4em;
    max-width: 100%;
    margin-bottom: 0px;
    }
    
    
    .down h2 {
        font-size: 2em;
        max-width: 100%;
    }
    
     .down p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        font-size: 1em;
        max-width: 100%;
    }
    
    .tworows {
    flex-direction: row;
    margin: 0 auto;
  
    }
	
    .tworows #title {
    color: #1b9600 ;
    font-weight: bold;
    font-family: monospace;
    font-size: 4em;
    margin-bottom: 0px;
    }
    
    
    .tworows h2 {
        font-size: 2em;
    }
    
     .tworows p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        font-size: 1em;
    }
    
    .tworowsitem {
        width: 40%;
    }
	
}




@media only screen and (max-width: 1024px) and (orientation: portrait) {
    
    .mobile {
        color: #000000;
        display: none;
    }
    
    .navbar-hamburger {
        display: none;
    }

	.navbar-flexbox {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 2px;
        padding-bottom: 20px;
		width: 100%;
		justify-content: center;
		overflow: hidden;
		
		background-image: url("lib/IMG/backdrop_new.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		
	}

	.navbar-flexbox .navitem {
		color: black;
		padding: 15px 35px;
		text-align: center;
		text-decoration: none;
		font-family: monospace;
		font-size: 2.5em;
		width: 40%;
		margin-top: 2.5px;
		margin-bottom: 2.5px;
		background-color: #f4f4f4;
		cursor: pointer;
		border-radius: 30px;
		
	}
	
	.navbar-flexbox #nav-logo {
		width: 100%;
		height: 100%;
	}

	.navbar-flexbox #nav-logo-container {
		width: 95%;
		max-width: 95vw;
		height: 100%;
		position: relative;
		margin: 20px;
		cursor: pointer;
	}

	.flex-right {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
	}


	.backdrop {
		display: none;
	 
	}
	
	.down {
    text-align: center;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
  
    }
	
	.down #title {
    color: #1b9600 ;
    font-weight: bold;
    font-family: monospace;
    font-size: 5em;
    max-width: 100%;
    margin-bottom: 0px;
    }
    
    .down p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        font-size: 1.5em;
        max-width: 100%;

    }
    
    .down h2 {
        font-size: 2.5em;
        max-width: 100%;
    }
    
    .tworows {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  
    }
	
	.tworows #title {
    color: #1b9600 ;
    font-weight: bold;
    font-family: monospace;
    font-size: 5em;
    margin-bottom: 0px;
    }
    
    .tworows p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        font-size: 1.5em;
    }
    
    .tworows h2 {
        font-size: 2.5em;
    }
    
    .tworowsitem {
        width: 80%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    
    .mobile {
        color: #000000;
        display: none;
    }
    
    .navbar-hamburger {
        display: none;
    }

	.navbar-flexbox {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 2px;
		margin-bottom: 2px;
        padding-bottom: 20px;
		width: 100%;
		justify-content: center;
		overflow: hidden;
		
		background-image: url("lib/IMG/backdrop_new.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		
	}

	.navbar-flexbox .navitem {
		color: black;
		padding: 15px 5px;
		text-align: center;
		text-decoration: none;
		font-family: monospace;
		font-size: 1.5em;
		width: 85%;
		margin-top: 2.5px;
		margin-bottom: 2.5px;
		background-color: #f4f4f4;
		cursor: pointer;
		border-radius: 8px;

	}
	
	.navbar-flexbox #nav-logo {
		width: 100%;
		height: 100%;
	}

	.navbar-flexbox #nav-logo-container {
		width: 80%;
		max-width: 80vw;
		height: 100%;
		position: relative;
		margin: 20px;
		cursor: pointer;
	}

	.flex-right {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
	}

	.backdrop {
		display: none;
	 
	}
	
	.down {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  
    }
	
	.down #title {
    color: #1b9600 ;
    font-weight: bold;
    font-family: monospace;
    font-size: 4.5em;
    max-width: 100%;
    margin-bottom: 0px;
    }
    
    .down p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        font-size: 1.2em;
        max-width: 100%;

    }
    
    .down h2 {
        font-size: 2.4em;
        max-width: 100%;
    }
    
    .tworows {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  
    }
	
	.tworows #title {
    color: #1b9600 ;
    font-weight: bold;
    font-family: monospace;
    font-size: 4.5em;
    margin-bottom: 0px;
    }
    
    .tworows p {
        border: 2px dotted #1b9600;
        padding: 20px 20px;
        font-size: 1.2em;

    }
    
    .tworows h2 {
        font-size: 2.4em;
    }
    
    .tworowsitem {
        width: 80%;
    }
    
}
